<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Mark's: A Social Auction</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section id="graph">
		<ul id="graph-profiles">
		</ul>
	</section>
	<aside id="timer" contenteditable>30:00</input>

	<!-- Template for profiles. -->
	<script type="text/html" id="template-profile">
	<li data-bids="1">
		<span class="name"><%= name %></span>
		<img src="<%= photo %>">
	</li>
	</script>

	<script src="js/jquery-2.0.3.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>

	<script src="js/Timer.js"></script>
	<script src="js/ProfileModel.js"></script>
	<script src="js/ProfileCollection.js"></script>
	<script src="js/Auctioneer.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
