<!doctype HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Mark's: A Social Auction</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<section id="graph">
		<ul id="graph-profiles"></ul>
		<div id="balloons" class="graph-line"></div>
		<div id="cats" class="graph-line"></div>
		<div id="wildness" class="graph-line"></div>
	</section>
	<aside id="timer" contenteditable></aside>

	<div id="bling-nyan">
		<img src="Assets/nyan-cat.gif">
	</div>

	<div id="bling-fog">
		<img src="Assets/cloud.png">
	</div>

	<div id="bling-mystery">
		<img class="jeremy" src="Assets/jeremy-basic.jpg">
		<img class="barry" src="Assets/barry-basic.jpg">
		<img class="jamie" src="Assets/jamie-basic.jpg">
	</div>

	<!-- Template for profiles. -->
	<script type="text/html" id="template-profile">
	<li data-bids="<%= bids %>" data-cost="<%= cost %>">
		<span class="name"><%= index %>. <%= name %></span>
		<img class="basic" src="<%= photo %>">
		<img class="replacement" src="<%= replacement %>">
	</li>
	</script>

	<script src="js/jquery-2.0.3.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>

	<script src="js/cornify.js"></script>

	<script src="js/Timer.js"></script>
	<script src="js/ProfileModel.js"></script>
	<script src="js/ProfileCollection.js"></script>
	<script src="js/Auctioneer.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
